@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dolly Bold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/Dolly-Bold.ttf) format('truetype');
  }
}

body, html {
  overflow-x: hidden;
}

body{
  background-color: #388476;
  max-width: 100%;
}

.Modal {
  position: absolute;
  top: 0px;
  bottom: 0px;
  outline: none;
  transform: translate(0, 0);
  border-radius: 10px;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.Modal2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  outline: none;
  transform: translate(0, 0);
  border-radius: 10px;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 136, 136, 0.8);
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: 3px solid #d0d0d0;
  border-radius: 10px;
  background-color: rgba(77,77,77,0.9);
  overflow: hidden;
}

.ModalSlide {
  position: absolute;
  top: 0px;
  bottom: 0px;
  outline: none;
  transform: translate(0, 0);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.OverlaySlide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

#dice-arena canvas {
  width: 100%;
  height: 100%;
}

/* Customize the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
  height: 8px; /* Height of horizontal scrollbar */
}

/* Customize the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5); /* 80% opacity */
}

/* Customize the thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5); /* 80% opacity */
  border-radius: 10px;
}

/* Customize the scrollbar when hovering */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.5); /* 80% opacity */
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.no-scroll #app {
  scale: 0.92;
  top: -40px;
  position: relative;
  transition: all 0.6s ease-out;
}
