@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dolly Bold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/Dolly-Bold.ttf) format('truetype');
  }
}

body, html {
  overflow-x: hidden;
}

body{
  background-color: #1b2529;
  max-width: 100%;
}

.Modal {
  position: absolute;
  /* top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px; */
  top: 0px;
  bottom: 0px;
  outline: none;
  transform: translate(0, 0);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: 3px solid #d0d0d0;
  border-radius: 10px;
  background-color: rgba(77,77,77,0.9);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
