@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4f545b;
  print-color-adjust: exact;
}

@media print {
  body {
    background-color: white;
  }
}

code {
  border: 1px solid #000;
  padding: 1px 5px;
  background-color: rgb(198, 240, 240);
  color: black;
  border-radius: 10px;
}

.no-scroll {
  overflow: hidden;
}
